<ion-view view-title="home" hide-nav-bar="true">
  <div class="bg"></div>
    <!--view-title is not work because of hide-nav-bar = 'true'-->
  <ion-header-bar align-title="center" class="no-bg">
      <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
      <!--<h1 class="title">home</h1>-->
      <!--this title will be work-->
  </ion-header-bar>
  <ion-content scroll="false" class="dashbord">
      <div class="text-center mrgtp">
          <h2 class="light">企业信息查询</h2>
      </div>
      <div class="row">
          <div class="col col-50">
              <div class="card">
                  <div class="item item-image">
                      <img src="./img/person_logo.png">
                  </div>
                  <div class="item item-text-wrap text-center">
                     企业工商信息
                  </div>
              </div>
          </div>
          <div class="col col-50">
              <div class="card">
                  <div class="item item-image">
                      <img src="./img/person_logo.png">
                  </div>
                  <div class="item item-text-wrap text-center">
                      企业工商信息
                  </div>
              </div>
          </div>
          </div>
          <div class="row">
          <div class="col col-50">
              <div class="card">
                  <div class="item item-image">
                      <img src="./img/person_logo.png">
                  </div>
                  <div class="item item-text-wrap text-center">
                      企业工商信息
                  </div>
              </div>
          </div>
          <div class="col col-50">
              <div class="card">
                  <div class="item item-image">
                      <img src="./img/person_logo.png">
                  </div>
                  <div class="item item-text-wrap text-center">
                      企业工商信息
                  </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
